@model Chess.Board.ChessBoard
@{
    ViewData["Title"] = "Chess Game";
}

<h2>Chess Game</h2>

<div id="chessboard-container">
    @{
        Html.RenderPartial("_ChessBoardPartial", Model);
    }
</div>
